In [50]:
import json
import pandas as pd
import csv
import numpy
import requests
from pprint import pprint

api_key = "a2rOTe8PfBiJBwTOSlRbteARqAEa0s6DsRyoSOOF"
url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?'

search = 'school.degrees_awarded.predominant=3&_fields=id,school.name,latest.cost.tuition.in_state,latest.cost.tuition.out_of_state,school.region_id,latest.earnings.10_yrs_after_entry.median,latest.earnings.6_yrs_after_entry.median,latest.repayment.5_yr_repayment.completers_rate,latest.repayment.7_yr_repayment.completers_rate,latest.repayment.3_yr_repayment.completers_rate'

search_url = url + search + '&api_key=' + api_key

response = requests.get(search_url)
response_json = response.json()
# pprint (response.json())

{'metadata': {'page': 0, 'per_page': 20, 'total': 2113},
 'results': [{'id': 445188,
              'latest.cost.tuition.in_state': 13262,
              'latest.cost.tuition.out_of_state': 39944,
              'latest.earnings.10_yrs_after_entry.median': None,
              'latest.earnings.6_yrs_after_entry.median': 36900,
              'latest.repayment.3_yr_repayment.completers_rate': 0.7814726841,
              'latest.repayment.5_yr_repayment.completers_rate': 0.786069652,
              'latest.repayment.7_yr_repayment.completers_rate': None,
              'school.name': 'University of California-Merced',
              'school.region_id': 8},
             {'id': 446792,
              'latest.cost.tuition.in_state': None,
              'latest.cost.tuition.out_of_state': None,
              'latest.earnings.10_yrs_after_entry.median': 29300,
              'latest.earnings.6_yrs_after_entry.median': 23500,
              'latest.repayment.3_yr_repayment.completers_rate': 0.347467609,
              'latest.repayment.5_yr_repayment.completers_rate': 0.444317315,
              'latest.repayment.7_yr_repayment.completers_rate': 0.516055046,
              'school.name': 'Sanford-Brown College-Las Vegas',
              'school.region_id': 8},
             {'id': 446808,
              'latest.cost.tuition.in_state': None,
              'latest.cost.tuition.out_of_state': None,
              'latest.earnings.10_yrs_after_entry.median': 29300,
              'latest.earnings.6_yrs_after_entry.median': 23500,
              'latest.repayment.3_yr_repayment.completers_rate': 0.347467609,
              'latest.repayment.5_yr_repayment.completers_rate': 0.444317315,
              'latest.repayment.7_yr_repayment.completers_rate': 0.516055046,
              'school.name': 'Sanford-Brown College-Seattle',
              'school.region_id': 8},
             {'id': 446048,
              'latest.cost.tuition.in_state': 19128,
              'latest.cost.tuition.out_of_state': 19128,
              'latest.earnings.10_yrs_after_entry.median': 32800,
              'latest.earnings.6_yrs_after_entry.median': 29800,
              'latest.repayment.3_yr_repayment.completers_rate': 0.6748466258,
              'latest.repayment.5_yr_repayment.completers_rate': 0.771186441,
              'latest.repayment.7_yr_repayment.completers_rate': 0.711111111,
              'school.name': 'Ave Maria University',
              'school.region_id': 5},
             {'id': 446668,
              'latest.cost.tuition.in_state': None,
              'latest.cost.tuition.out_of_state': None,
              'latest.earnings.10_yrs_after_entry.median': 34100,
              'latest.earnings.6_yrs_after_entry.median': 27200,
              'latest.repayment.3_yr_repayment.completers_rate': 0.503600823,
              'latest.repayment.5_yr_repayment.completers_rate': 0.603622802,
              'latest.repayment.7_yr_repayment.completers_rate': 0.698750918,
              'school.name': 'The Art Institute of Ohio-Cincinnati',
              'school.region_id': 3},
             {'id': 447458,
              'latest.cost.tuition.in_state': 23899,
              'latest.cost.tuition.out_of_state': 23899,
              'latest.earnings.10_yrs_after_entry.median': 48400,
              'latest.earnings.6_yrs_after_entry.median': 32100,
              'latest.repayment.3_yr_repayment.completers_rate': 0.5695187166,
              'latest.repayment.5_yr_repayment.completers_rate': 0.609311741,
              'latest.repayment.7_yr_repayment.completers_rate': 0.691803279,
              'school.name': 'SAE Expression College',
              'school.region_id': 8},
             {'id': 447272,
              'latest.cost.tuition.in_state': 13152,
              'latest.cost.tuition.out_of_state': 13152,
              'latest.earnings.10_yrs_after_entry.median': 41400,
              'latest.earnings.6_yrs_after_entry.median': 30300,
              'latest.repayment.3_yr_repayment.completers_rate': 0.4765714286,
              'latest.repayment.5_yr_repayment.completers_rate': 0.63963964,
              'latest.repayment.7_yr_repayment.completers_rate': 0.761627907,
              'school.name': 'Argosy University-Los Angeles',
              'school.region_id': 8},
             {'id': 117557,
              'latest.cost.tuition.in_state': 10575,
              'latest.cost.tuition.out_of_state': 10575,
              'latest.earnings.10_yrs_after_entry.median': None,
              'latest.earnings.6_yrs_after_entry.median': None,
              'latest.repayment.3_yr_repayment.completers_rate': None,
              'latest.repayment.5_yr_repayment.completers_rate': None,
              'latest.repayment.7_yr_repayment.completers_rate': None,
              'school.name': 'Lincoln University',
              'school.region_id': 8},
             {'id': 210492,
              'latest.cost.tuition.in_state': 19932,
              'latest.cost.tuition.out_of_state': 19932,
              'latest.earnings.10_yrs_after_entry.median': None,
              'latest.earnings.6_yrs_after_entry.median': None,
              'latest.repayment.3_yr_repayment.completers_rate': None,
              'latest.repayment.5_yr_repayment.completers_rate': None,
              'latest.repayment.7_yr_repayment.completers_rate': None,
              'school.name': 'Bryn Athyn College of the New Church',
              'school.region_id': 2},
             {'id': 441982,
              'latest.cost.tuition.in_state': 49986,
              'latest.cost.tuition.out_of_state': 49986,
              'latest.earnings.10_yrs_after_entry.median': None,
              'latest.earnings.6_yrs_after_entry.median': None,
              'latest.repayment.3_yr_repayment.completers_rate': None,
              'latest.repayment.5_yr_repayment.completers_rate': None,
              'latest.repayment.7_yr_repayment.completers_rate': None,
              'school.name': 'Franklin W Olin College of Engineering',
              'school.region_id': 1},
             {'id': 456348,
              'latest.cost.tuition.in_state': 18244,
              'latest.cost.tuition.out_of_state': 18244,
              'latest.earnings.10_yrs_after_entry.median': 41400,
              'latest.earnings.6_yrs_after_entry.median': 30300,
              'latest.repayment.3_yr_repayment.completers_rate': 0.4765714286,
              'latest.repayment.5_yr_repayment.completers_rate': 0.63963964,
              'latest.repayment.7_yr_repayment.completers_rate': 0.761627907,
              'school.name': 'Argosy University-Phoenix Online Division',
              'school.region_id': 6},
             {'id': 459842,
              'latest.cost.tuition.in_state': 13390,
              'latest.cost.tuition.out_of_state': 13390,
              'latest.earnings.10_yrs_after_entry.median': 37800,
              'latest.earnings.6_yrs_after_entry.median': 27900,
              'latest.repayment.3_yr_repayment.completers_rate': 0.4233547352,
              'latest.repayment.5_yr_repayment.completers_rate': 0.529329609,
              'latest.repayment.7_yr_repayment.completers_rate': 0.688632619,
              'school.name': 'Herzing University-Kenosha',
              'school.region_id': 3},
             {'id': 468015,
              'latest.cost.tuition.in_state': None,
              'latest.cost.tuition.out_of_state': None,
              'latest.earnings.10_yrs_after_entry.median': 33400,
              'latest.earnings.6_yrs_after_entry.median': 26900,
              'latest.repayment.3_yr_repayment.completers_rate': 0.4571159284,
              'latest.repayment.5_yr_repayment.completers_rate': 0.562656016,
              'latest.repayment.7_yr_repayment.completers_rate': 0.571279917,
              'school.name': 'South University-The Art Institute of Fort Worth',
              'school.region_id': 6},
             {'id': 449038,
              'latest.cost.tuition.in_state': 12975,
              'latest.cost.tuition.out_of_state': 12975,
              'latest.earnings.10_yrs_after_entry.median': 45900,
              'latest.earnings.6_yrs_after_entry.median': 33100,
              'latest.repayment.3_yr_repayment.completers_rate': 0.409350057,
              'latest.repayment.5_yr_repayment.completers_rate': 0.529604068,
              'latest.repayment.7_yr_repayment.completers_rate': 0.600981767,
              'school.name': 'Strayer University-Florida',
              'school.region_id': 5},
             {'id': 450298,
              'latest.cost.tuition.in_state': 12975,
              'latest.cost.tuition.out_of_state': 12975,
              'latest.earnings.10_yrs_after_entry.median': 45900,
              'latest.earnings.6_yrs_after_entry.median': 33100,
              'latest.repayment.3_yr_repayment.completers_rate': 0.409350057,
              'latest.repayment.5_yr_repayment.completers_rate': 0.529604068,
              'latest.repayment.7_yr_repayment.completers_rate': 0.600981767,
              'school.name': 'Strayer University-Delaware',
              'school.region_id': 2},
             {'id': 453215,
              'latest.cost.tuition.in_state': 12975,
              'latest.cost.tuition.out_of_state': 12975,
              'latest.earnings.10_yrs_after_entry.median': 45900,
              'latest.earnings.6_yrs_after_entry.median': 33100,
              'latest.repayment.3_yr_repayment.completers_rate': 0.409350057,
              'latest.repayment.5_yr_repayment.completers_rate': 0.529604068,
              'latest.repayment.7_yr_repayment.completers_rate': 0.600981767,
              'school.name': 'Strayer University-New Jersey',
              'school.region_id': 2},
             {'id': 458885,
              'latest.cost.tuition.in_state': 12975,
              'latest.cost.tuition.out_of_state': 12975,
              'latest.earnings.10_yrs_after_entry.median': 45900,
              'latest.earnings.6_yrs_after_entry.median': 33100,
              'latest.repayment.3_yr_repayment.completers_rate': 0.409350057,
              'latest.repayment.5_yr_repayment.completers_rate': 0.529604068,
              'latest.repayment.7_yr_repayment.completers_rate': 0.600981767,
              'school.name': 'Strayer University-Arkansas',
              'school.region_id': 5},
             {'id': 458955,
              'latest.cost.tuition.in_state': 12975,
              'latest.cost.tuition.out_of_state': 12975,
              'latest.earnings.10_yrs_after_entry.median': 45900,
              'latest.earnings.6_yrs_after_entry.median': 33100,
              'latest.repayment.3_yr_repayment.completers_rate': 0.409350057,
              'latest.repayment.5_yr_repayment.completers_rate': 0.529604068,
              'latest.repayment.7_yr_repayment.completers_rate': 0.600981767,
              'school.name': 'Strayer University-Mississippi',
              'school.region_id': 5},
             {'id': 460738,
              'latest.cost.tuition.in_state': None,
              'latest.cost.tuition.out_of_state': None,
              'latest.earnings.10_yrs_after_entry.median': None,
              'latest.earnings.6_yrs_after_entry.median': None,
              'latest.repayment.3_yr_repayment.completers_rate': 0.7096774194,
              'latest.repayment.5_yr_repayment.completers_rate': None,
              'latest.repayment.7_yr_repayment.completers_rate': None,
              'school.name': 'American Sentinel University',
              'school.region_id': 7},
             {'id': 461795,
              'latest.cost.tuition.in_state': 11900,
              'latest.cost.tuition.out_of_state': 11900,
              'latest.earnings.10_yrs_after_entry.median': None,
              'latest.earnings.6_yrs_after_entry.median': None,
              'latest.repayment.3_yr_repayment.completers_rate': None,
              'latest.repayment.5_yr_repayment.completers_rate': None,
              'latest.repayment.7_yr_repayment.completers_rate': None,
              'school.name': 'North American University',
              'school.region_id': 6}]}

In [47]:
# school_ids_list = []
# schools_list = []
# regions_list = []

# for page in range (0,105):
#     search_url = f'{url}{search}&page={page}&api_key={api_key}'
#     response = requests.get(search_url)
#     response_json = response.json()
       
#     for num in range(0,20):
#         school_id = response_json['results'][num]['id']
#         school_ids_list.append(school_id)
#         school_name = response_json['results'][num]['school.name']
#         schools_list.append(school_name)  
#         region_id = response_json['results'][num]['school.region_id']
#         regions_list.append(region_id)
                
# # print (len(school_ids_list))
# # print (len(schools_list))
# # print (len(regions_list))

# schoolinfo_df = pd.DataFrame({
#     "School ID": school_ids_list,
#     "School": schools_list,
#     "Region ID": regions_list
# })

# schoolinfo_df.to_csv("schoolinfo.csv", index=False, header=False)
# schoolinfo_df

KeyError: 'results'

In [52]:
# school_ids_list = []
# tuition_in_state_list = []
# tuition_out_state_list = []

# for page in range (0,105):
#         search_url = f'{url}{search}&page={page}&api_key={api_key}'
#         response = requests.get(search_url)
#         response_json = response.json()
        
#         for num in range(0,20):
#             school_id = response_json['results'][num]['id']
#             school_ids_list.append(school_id)                
#             tuition_in = response_json['results'][num]['latest.cost.tuition.in_state']
#             tuition_in_state_list.append(tuition_in)  
#             tuition_out = response_json['results'][num]['latest.cost.tuition.out_of_state']
#             tuition_out_state_list.append(tuition_out)
                
# school_tuition_df = pd.DataFrame({
#     "School ID": school_ids_list,
#     "Tuition In of State": tuition_in_state_list,
#     "Tuition Out of State": tuition_out_state_list
# })
                
# school_tuition_df.to_csv("school_tuition.csv", index=False, header=False)
# school_tuition_df

In [54]:
csvpath =

      School ID  Tuition In of State  Tuition Out of State
0        445188              13262.0               39944.0
1        446792                  NaN                   NaN
2        446808                  NaN                   NaN
3        446048              19128.0               19128.0
4        446668                  NaN                   NaN
5        447458              23899.0               23899.0
6        447272              13152.0               13152.0
7        117557              10575.0               10575.0
8        210492              19932.0               19932.0
9        441982              49986.0               49986.0
10       456348              18244.0               18244.0
11       459842              13390.0               13390.0
12       468015                  NaN                   NaN
13       449038              12975.0               12975.0
14       450298              12975.0               12975.0
15       453215              12975.0               12975.0
16       458885              12975.0               12975.0
17       458955              12975.0               12975.0
18       460738                  NaN                   NaN
19       461795              11900.0               11900.0
20       470092                  NaN                   NaN
21       139287              10460.0               10460.0
22       475608               8950.0                8950.0
23       475732              19230.0               19230.0
24       489788              14325.0               14325.0
25       484905               7848.0               20088.0
26       484622                  NaN                   NaN
27       485078              10662.0               10662.0
28       484668               9840.0                9840.0
29       484695               9840.0                9840.0
...         ...                  ...                   ...
2070     237057              47862.0               47862.0
2071     239071              14260.0               14260.0
2072     240444              10488.0               32738.0
2073     240107              26150.0               26150.0
2074     239017              44844.0               44844.0
2075     240277               7878.0               15451.0
2076     240374               7367.0               15356.0
2077     240417               9395.0               17141.0
2078     241951               3462.0                5622.0
2079     241331               7221.0                7221.0
2080     245777               8600.0                8600.0
2081     245847                  NaN                   NaN
2082     260901              14325.0               14325.0
2083     363907               5182.0                5182.0
2084     363934              21064.0               21064.0
2085     366711               7383.0               18543.0
2086     367884              13700.0               13700.0
2087     367194              27940.0               27940.0
2088     405997               9840.0                9840.0
2089     416801                  NaN                   NaN
2090     212054              51030.0               51030.0
2091     213011              35210.0               35210.0
2092     212577              52290.0               52290.0
2093     212601              30042.0               30042.0
2094     213507              40550.0               40550.0
2095     214731              14134.0               21568.0
2096     213987              34580.0               34580.0
2097     215114              25246.0               25246.0
2098     214041              11494.0               20854.0
2099     216597              49280.0               49280.0

[2100 rows x 3 columns]