In [2]:
# import dependencies
import json
import pandas as pd
import os
import csv
import numpy
import requests
from pprint import pprint

#set up API URL
api_key = "a2rOTe8PfBiJBwTOSlRbteARqAEa0s6DsRyoSOOF"
url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?'

search = 'school.degrees_awarded.predominant=3&_fields=id,school.name,latest.cost.tuition.in_state,latest.cost.tuition.out_of_state,school.region_id,latest.earnings.10_yrs_after_entry.median,latest.earnings.6_yrs_after_entry.median,latest.repayment.5_yr_repayment.completers_rate,latest.repayment.7_yr_repayment.completers_rate,latest.repayment.3_yr_repayment.completers_rate'

search_url = url + search + '&api_key=' + api_key

response = requests.get(search_url)
response_json = response.json()
# pprint (response.json())

In [ ]:
# Store school id, name, regions in list

school_ids_list = []
schools_list = []
regions_list = []


for page in range (0,105):
    search_url = f'{url}{search}&page={page}&api_key={api_key}'
    response = requests.get(search_url)
    response_json = response.json()
       
    for num in range(0,20):
        school_id = response_json['results'][num]['id']
        school_ids_list.append(school_id)
        school_name = response_json['results'][num]['school.name']
        schools_list.append(school_name)  
        region_id = response_json['results'][num]['school.region_id']
        regions_list.append(region_id)

# test length of list to ensure equality
# print (len(school_ids_list))
# print (len(schools_list))
# print (len(regions_list))

# set up school info in dataframe and export to CSV to save work and avoid API limit
schoolinfo_df = pd.DataFrame({
    "School ID": school_ids_list,
    "School": schools_list,
    "Region ID": regions_list
})

schoolinfo_df.to_csv("schoolinfo.csv", index=False, header=False)
schoolinfo_df

In [ ]:
#store tuition information into lists
school_ids_list = []
tuition_in_state_list = []
tuition_out_state_list = []


for page in range (0,105):
        search_url = f'{url}{search}&page={page}&api_key={api_key}'
        response = requests.get(search_url)
        response_json = response.json()
        
        for num in range(0,20):
            school_id = response_json['results'][num]['id']
            school_ids_list.append(school_id)                
            tuition_in = response_json['results'][num]['latest.cost.tuition.in_state']
            tuition_in_state_list.append(tuition_in)  
            tuition_out = response_json['results'][num]['latest.cost.tuition.out_of_state']
            tuition_out_state_list.append(tuition_out)

#convert tuition lists into DataFrame and export
school_tuition_df = pd.DataFrame({
    "School ID": school_ids_list,
    "Tuition In of State": tuition_in_state_list,
    "Tuition Out of State": tuition_out_state_list
})
                
school_tuition_df.to_csv("school_tuition.csv", index=False, header=False)
school_tuition_df

In [ ]:
#read csv paths as pandas and merge school info and tuition dataframes on school id
schoolcsvpath = os.path.join('schoolinfo.csv')
tuitioncsvpath = os.path.join('school_tuition.csv')

school_pd_df = pd.read_csv(schoolcsvpath, encoding="utf-8")
tuition_pd_df = pd.read_csv(tuitioncsvpath, encoding="utf-8")

school_tuition_merge = pd.merge(school_pd_df, tuition_pd_df, on='School Id', how="outer")

In [ ]:
#create lists for earnings, repayment rate

school_ids_list = []
list_earnings_10_yrs_after_entry = []
list_earnings_6_yrs_after_entry = []


for page in range (0,105):
    search_url = f'{url}{search}&page={page}&api_key={api_key}'
    response = requests.get(search_url)
    response_json = response.json()
    for num in range (0,20):
            earnings_10yrs_after = response_json['results'][num]['latest.earnings.10_yrs_after_entry.median']
            earnings_6yrs_after = response_json['results'][num]['latest.earnings.6_yrs_after_entry.median']
            list_earnings_10_yrs_after_entry.append(earnings_10yrs_after)
            list_earnings_6_yrs_after_entry.append(earnings_6yrs_after)

# len(list_earnings_10_yrs_after_entry)
# len(list_earnings_6_yrs_after_entry)

list_3_year_repayment = []
list_5_year_repayment = []
list_7_year_repayment = []


for page in range (0,105):
    search_url = f'{url}{search}&page={page}&api_key={api_key}'
    response = requests.get(search_url)
    response_json = response.json()
    for num in range (0,20):
            school_id = response_json['results'][num]['id']
            repay_3years = response_json['results'][num]['latest.repayment.3_yr_repayment.completers_rate']
            repay_5years = response_json['results'][num]['latest.repayment.5_yr_repayment.completers_rate']
            repay_7years = response_json['results'][num]['latest.repayment.7_yr_repayment.completers_rate']
            school_ids_list.append(school_id)
            list_3_year_repayment.append(repay_3years)
            list_5_year_repayment.append(repay_5years)
            list_7_year_repayment.append(repay_7years)

#convert lists into dataframes and export
earnings_repayment_df = pd.DataFrame({
    "School Id": school_ids_list,
    "Earnings 6 Years After Entry": list_earnings_6_yrs_after_entry,
    "Earnings 10 years After Entry": list_earnings_10_yrs_after_entry,
    "3 Year Repayment Percentage": list_3_year_repayment,
    "5 Year Repayment Percentage": list_5_year_repayment,
    "7 Year Repayment Percentage": list_7_year_repayment,
})

In [ ]:
#convert repayment/earnings info to csv and merge repayment/earnings information with school_tuition dataframe 

earnings_repayment_df.to_csv("earnings_repayment.csv", index=False, header=True)

earningscsvpath = os.path.join('earnings_repayment.csv')
earnings_pd_df = pd.read_csv(earningscsvpath, encoding="utf-8")


cost_earnings_stat_merge = pd.merge(school_tuition_merge, earnings_pd_df, on='School Id', how="outer")
cost_earnings_stat_merge.to_csv("cost_earnings_stat.csv", index=False, header=True)
cost_earnings_stat_merge

In [3]:
region_stats = pd.read_csv('cost_earnings_stat.csv')
region_stats

,School Id,School Name,Region Id,Tuition In State,Tuition Out of State,Earnings 6 Years After Entry,Earnings 10 years After Entry,3 Year Repayment Percentage,5 Year Repayment Percentage,7 Year Repayment Percentage
0,445188,University of California-Merced,8,13262.0,39944.0,36900.0,NaN,0.781473,0.786070,NaN
1,446792,Sanford-Brown College-Las Vegas,8,NaN,NaN,23500.0,29300.0,0.347468,0.444317,0.516055
2,446808,Sanford-Brown College-Seattle,8,NaN,NaN,23500.0,29300.0,0.347468,0.444317,0.516055
3,446048,Ave Maria University,5,19128.0,19128.0,29800.0,32800.0,0.674847,0.771186,0.711111
4,446668,The Art Institute of Ohio-Cincinnati,3,NaN,NaN,27200.0,34100.0,0.503601,0.603623,0.698751
5,447458,SAE Expression College,8,23899.0,23899.0,32100.0,48400.0,0.569519,0.609312,0.691803
6,447272,Argosy University-Los Angeles,8,13152.0,13152.0,30300.0,41400.0,0.476571,0.639640,0.761628
7,117557,Lincoln University,8,10575.0,10575.0,NaN,NaN,NaN,NaN,NaN
8,210492,Bryn Athyn College of the New Church,2,19932.0,19932.0,NaN,NaN,NaN,NaN,NaN
9,441982,Franklin W Olin College of Engineering,1,49986.0,49986.0,NaN,NaN,NaN,NaN,NaN
10,456348,Argosy University-Phoenix Online Division,6,18244.0,18244.0,30300.0,41400.0,0.476571,0.639640,0.761628
11,459842,Herzing University-Kenosha,3,13390.0,13390.0,27900.0,37800.0,0.423355,0.529330,0.688633
12,468015,South University-The Art Institute of Fort Worth,6,NaN,NaN,26900.0,33400.0,0.457116,0.562656,0.571280
13,449038,Strayer University-Florida,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
14,450298,Strayer University-Delaware,2,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
15,453215,Strayer University-New Jersey,2,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
16,458885,Strayer University-Arkansas,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
17,458955,Strayer University-Mississippi,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
18,460738,American Sentinel University,7,NaN,NaN,NaN,NaN,0.709677,NaN,NaN
19,461795,North American University,6,11900.0,11900.0,NaN,NaN,NaN,NaN,NaN
20,470092,The Art Institute of Wisconsin,3,NaN,NaN,25800.0,29400.0,0.304666,0.485496,0.571795
21,139287,Carver Bible College,5,10460.0,10460.0,NaN,NaN,NaN,NaN,NaN
22,475608,Criswell College,6,8950.0,8950.0,NaN,NaN,NaN,NaN,NaN
23,475732,Chamberlain University-Georgia,5,19230.0,19230.0,67100.0,58400.0,0.674411,0.731261,NaN
24,489788,Kaplan University-Milwaukee,3,14325.0,14325.0,NaN,NaN,NaN,NaN,NaN
25,484905,University of North Texas at Dallas,6,7848.0,20088.0,37600.0,45000.0,NaN,NaN,NaN
26,484622,University of Phoenix-Arkansas,5,NaN,NaN,28400.0,47100.0,0.425899,0.584762,0.687975
27,485078,Trine University-Arizona Regional Campus,6,10662.0,10662.0,37000.0,43300.0,0.736928,0.810690,0.785100
28,484668,University of Phoenix-Florida,5,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975
29,484695,University of Phoenix-Michigan,3,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975
...,...,...,...,...,...,...,...,...,...,...
2070,237057,Whitman College,8,47862.0,47862.0,34000.0,51300.0,0.947368,NaN,NaN
2071,239071,Maranatha Baptist University,3,14260.0,14260.0,29700.0,33000.0,0.896000,0.922652,NaN
2072,240444,University of Wisconsin-Madison,3,10488.0,32738.0,45000.0,56200.0,0.884680,0.909311,0.934189
2073,240107,Viterbo University,3,26150.0,26150.0,38100.0,43200.0,0.783307,0.857461,0.890526
2074,239017,Lawrence University,3,44844.0,44844.0,29400.0,44100.0,0.817073,0.868243,0.910506
2075,240277,University of Wisconsin-Green Bay,3,7878.0,15451.0,34800.0,40800.0,0.779497,0.858095,0.909091
2076,240374,University of Wisconsin-Parkside,3,7367.0,15356.0,30000.0,39900.0,0.690066,0.765337,0.847550
2077,240417,University of Wisconsin-Stout,3,9395.0,17141.0,39200.0,45100.0,0.856311,0.914819,0.928941
2078,241951,Escuela de Artes Plasticas y Diseno de Puerto ...,9,3462.0,5622.0,9200.0,16000.0,NaN,NaN,NaN
2079,241331,Carlos Albizu University-San Juan,9,7221.0,7221.0,26700.0,30200.0,0.513636,0.594378,0.550000
2080,245777,Bais Medrash Elyon,2,8600.0,8600.0,NaN,NaN,NaN,NaN,NaN
2081,245847,Antioch University-Santa Barbara,8,NaN,NaN,33500.0,38200.0,0.595745,0.666667,0.707143
2082,260901,Kaplan University-Davenport Campus,4,14325.0,14325.0,24600.0,33900.0,0.376907,0.497563,0.578652
2083,363907,Caribbean University-Ponce,9,5182.0,5182.0,15900.0,18700.0,0.355742,0.393939,0.436893
2084,363934,University of Advancing Technology,6,21064.0,21064.0,33700.0,46400.0,0.760331,0.791209,0.850000
2085,366711,California State University-San Marcos,8,7383.0,18543.0,37800.0,47300.0,0.748884,0.675532,0.774436
2086,367884,Hodges University,5,13700.0,13700.0,27700.0,37100.0,0.470679,0.501080,0.563043
2087,367194,McNally Smith College of Music,4,27940.0,27940.0,24600.0,33500.0,0.676301,0.757576,0.775510
2088,405997,University of Phoenix-New Mexico,6,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975
2089,416801,The University of Texas MD Anderson Cancer Center,6,NaN,NaN,64300.0,86400.0,NaN,0.815385,NaN
2090,212054,Drexel University,2,51030.0,51030.0,53400.0,68800.0,0.882275,0.910415,0.931228
2091,213011,Immaculata University,2,35210.0,35210.0,46100.0,50600.0,0.736842,0.796703,0.777778
2092,212577,Franklin and Marshall College,2,52290.0,52290.0,46000.0,58900.0,0.927007,0.920981,0.952542
2093,212601,Gannon University,2,30042.0,30042.0,38400.0,48100.0,0.812081,0.858934,0.893186
2094,213507,Lebanon Valley College,2,40550.0,40550.0,40100.0,45800.0,0.901434,0.951076,0.947368
2095,214731,Pennsylvania State University-Penn State Brand...,2,14134.0,21568.0,40100.0,50100.0,0.813242,0.882725,0.903883
2096,213987,Mercyhurst University,2,34580.0,34580.0,32800.0,40300.0,0.768879,0.863171,0.861613
2097,215114,Cairn University-Langhorne,2,25246.0,25246.0,28000.0,34800.0,0.804954,0.824451,0.865546
2098,214041,Millersville University of Pennsylvania,2,11494.0,20854.0,34400.0,43500.0,0.830858,0.887035,0.914194
2099,216597,Villanova University,2,49280.0,49280.0,62600.0,77900.0,0.940041,0.949495,0.963762

In [9]:
rs_dropna = region_stats.dropna()
rs_dropreset = rs_dropna.reset_index()

In [28]:
grouped_region_stats = rs_dropreset.groupby(['Region Id']).mean()
region_mean = grouped_region_stats.drop(columns=["index", "School Id"])
region_mean

,Tuition In State,Tuition Out of State,Earnings 6 Years After Entry,Earnings 10 years After Entry,3 Year Repayment Percentage,5 Year Repayment Percentage,7 Year Repayment Percentage
Region Id,,,,,,,
1,29112.816667,32776.183333,39475.000000,49554.166667,0.790872,0.839508,0.867417
2,26001.058608,29223.135531,37945.054945,48754.945055,0.739615,0.793213,0.828465
3,23448.936441,26742.444915,35246.186441,43145.338983,0.716357,0.779455,0.818114
4,20803.045161,23060.251613,35602.580645,42301.935484,0.761357,0.818104,0.844360
5,18366.325000,22730.782500,31787.000000,39603.750000,0.621347,0.691474,0.735573
6,16773.288889,21270.088889,34261.481481,41785.185185,0.644242,0.719577,0.762020
7,13179.042553,20291.914894,33821.276596,42572.340426,0.692003,0.764552,0.815170
8,23430.098684,28459.407895,36998.026316,47139.473684,0.698145,0.766504,0.814428
9,5910.650000,6726.500000,17500.000000,21735.000000,0.508256,0.548189,0.555709