In [1]:
import json
import pandas as pd
import os
import csv
import numpy
import requests
from pprint import pprint

api_key = "a2rOTe8PfBiJBwTOSlRbteARqAEa0s6DsRyoSOOF"
url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?'

search = 'school.degrees_awarded.predominant=3&_fields=id,school.name,latest.cost.tuition.in_state,latest.cost.tuition.out_of_state,school.region_id,latest.earnings.10_yrs_after_entry.median,latest.earnings.6_yrs_after_entry.median,latest.repayment.5_yr_repayment.completers_rate,latest.repayment.7_yr_repayment.completers_rate,latest.repayment.3_yr_repayment.completers_rate'

search_url = url + search + '&api_key=' + api_key

response = requests.get(search_url)
response_json = response.json()
# pprint (response.json())

In [47]:
# school_ids_list = []
# schools_list = []
# regions_list = []

# for page in range (0,105):
#     search_url = f'{url}{search}&page={page}&api_key={api_key}'
#     response = requests.get(search_url)
#     response_json = response.json()
       
#     for num in range(0,20):
#         school_id = response_json['results'][num]['id']
#         school_ids_list.append(school_id)
#         school_name = response_json['results'][num]['school.name']
#         schools_list.append(school_name)  
#         region_id = response_json['results'][num]['school.region_id']
#         regions_list.append(region_id)
                
# # print (len(school_ids_list))
# # print (len(schools_list))
# # print (len(regions_list))

# schoolinfo_df = pd.DataFrame({
#     "School ID": school_ids_list,
#     "School": schools_list,
#     "Region ID": regions_list
# })

# schoolinfo_df.to_csv("schoolinfo.csv", index=False, header=False)
# schoolinfo_df

KeyError: 'results'

In [52]:
# school_ids_list = []
# tuition_in_state_list = []
# tuition_out_state_list = []

# for page in range (0,105):
#         search_url = f'{url}{search}&page={page}&api_key={api_key}'
#         response = requests.get(search_url)
#         response_json = response.json()
        
#         for num in range(0,20):
#             school_id = response_json['results'][num]['id']
#             school_ids_list.append(school_id)                
#             tuition_in = response_json['results'][num]['latest.cost.tuition.in_state']
#             tuition_in_state_list.append(tuition_in)  
#             tuition_out = response_json['results'][num]['latest.cost.tuition.out_of_state']
#             tuition_out_state_list.append(tuition_out)
                
# school_tuition_df = pd.DataFrame({
#     "School ID": school_ids_list,
#     "Tuition In of State": tuition_in_state_list,
#     "Tuition Out of State": tuition_out_state_list
# })
                
# school_tuition_df.to_csv("school_tuition.csv", index=False, header=False)
# school_tuition_df

In [8]:
schoolcsvpath = os.path.join('schoolinfo.csv')
tuitioncsvpath = os.path.join('school_tuition.csv')

school_pd_df = pd.read_csv(schoolcsvpath, encoding="utf-8")
tuition_pd_df = pd.read_csv(tuitioncsvpath, encoding="utf-8")

In [9]:
school_pd_df.head()

   School Id                           School Name  Region Id
0     445188       University of California-Merced          8
1     446792       Sanford-Brown College-Las Vegas          8
2     446808         Sanford-Brown College-Seattle          8
3     446048                  Ave Maria University          5
4     446668  The Art Institute of Ohio-Cincinnati          3

In [10]:
tuition_pd_df.head()

   School Id  Tuition In State  Tuition Out of State
0     445188           13262.0               39944.0
1     446792               NaN                   NaN
2     446808               NaN                   NaN
3     446048           19128.0               19128.0
4     446668               NaN                   NaN

In [12]:
school_tuition_merge = pd.merge(school_pd_df, tuition_pd_df, on='School Id', how="outer")
school_tuition_merge.head(200)

,School Id,School Name,Region Id,Tuition In State,Tuition Out of State
0,445188,University of California-Merced,8,13262.0,39944.0
1,446792,Sanford-Brown College-Las Vegas,8,NaN,NaN
2,446808,Sanford-Brown College-Seattle,8,NaN,NaN
3,446048,Ave Maria University,5,19128.0,19128.0
4,446668,The Art Institute of Ohio-Cincinnati,3,NaN,NaN
5,447458,SAE Expression College,8,23899.0,23899.0
6,447272,Argosy University-Los Angeles,8,13152.0,13152.0
7,117557,Lincoln University,8,10575.0,10575.0
8,210492,Bryn Athyn College of the New Church,2,19932.0,19932.0
9,441982,Franklin W Olin College of Engineering,1,49986.0,49986.0
10,456348,Argosy University-Phoenix Online Division,6,18244.0,18244.0
11,459842,Herzing University-Kenosha,3,13390.0,13390.0
12,468015,South University-The Art Institute of Fort Worth,6,NaN,NaN
13,449038,Strayer University-Florida,5,12975.0,12975.0
14,450298,Strayer University-Delaware,2,12975.0,12975.0
15,453215,Strayer University-New Jersey,2,12975.0,12975.0
16,458885,Strayer University-Arkansas,5,12975.0,12975.0
17,458955,Strayer University-Mississippi,5,12975.0,12975.0
18,460738,American Sentinel University,7,NaN,NaN
19,461795,North American University,6,11900.0,11900.0
20,470092,The Art Institute of Wisconsin,3,NaN,NaN
21,139287,Carver Bible College,5,10460.0,10460.0
22,475608,Criswell College,6,8950.0,8950.0
23,475732,Chamberlain University-Georgia,5,19230.0,19230.0
24,489788,Kaplan University-Milwaukee,3,14325.0,14325.0
25,484905,University of North Texas at Dallas,6,7848.0,20088.0
26,484622,University of Phoenix-Arkansas,5,NaN,NaN
27,485078,Trine University-Arizona Regional Campus,6,10662.0,10662.0
28,484668,University of Phoenix-Florida,5,9840.0,9840.0
29,484695,University of Phoenix-Michigan,3,9840.0,9840.0
...,...,...,...,...,...
170,135364,Luther Rice College & Seminary,5,6800.0,6800.0
171,137847,The University of Tampa,5,27740.0,27740.0
172,201645,Case Western Reserve University,3,46006.0,46006.0
173,203085,Heidelberg University,3,29200.0,29200.0
174,203368,John Carroll University,3,38490.0,38490.0
175,203775,Malone University,3,29422.0,29422.0
176,207722,University of Science and Arts of Oklahoma,6,7200.0,17550.0
177,206862,Southern Nazarene University,6,24468.0,24468.0
178,207342,University of Oklahoma-Health Sciences Center,6,NaN,NaN
179,207458,Oklahoma City University,6,30726.0,30726.0
180,208488,Concordia University-Portland,8,29390.0,29390.0
181,207582,Oral Roberts University,6,25676.0,25676.0
182,210775,Alvernia University,2,32270.0,32270.0
183,209612,Pacific University,8,41054.0,41054.0
184,211608,Cheyney University of Pennsylvania,2,11356.0,17452.0
185,211088,Arcadia University,2,40920.0,40920.0
186,211158,Bloomsburg University of Pennsylvania,2,10154.0,21246.0
187,209825,University of Portland,8,44104.0,44104.0
188,209922,Reed College,8,52150.0,52150.0
189,213358,La Roche College,2,27000.0,27000.0
190,213385,Lafayette College,2,49635.0,49635.0
191,213598,Lincoln University,2,11102.0,16733.0
192,214148,Moore College of Art and Design,2,38301.0,38301.0
193,214175,Muhlenberg College,2,48310.0,48310.0
194,214698,Pennsylvania State University-Penn State Beaver,2,13678.0,20558.0
195,213668,Lycoming College,2,37162.0,37162.0
196,215105,The University of the Arts,2,41464.0,41464.0
197,214625,Pennsylvania State University-Penn State New K...,2,13616.0,20496.0
198,216278,Susquehanna University,2,43720.0,43720.0
199,215798,Saint Vincent College,2,33426.0,33426.0