In [2]:
# import dependencies
import json
import pandas as pd
import os
import csv
import numpy
import requests
from pprint import pprint

#set up API URL
api_key = "a2rOTe8PfBiJBwTOSlRbteARqAEa0s6DsRyoSOOF"
url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?'

search = 'school.degrees_awarded.predominant=3&_fields=id,school.name,latest.cost.tuition.in_state,latest.cost.tuition.out_of_state,school.region_id,latest.earnings.10_yrs_after_entry.median,latest.earnings.6_yrs_after_entry.median,latest.repayment.5_yr_repayment.completers_rate,latest.repayment.7_yr_repayment.completers_rate,latest.repayment.3_yr_repayment.completers_rate'

search_url = url + search + '&api_key=' + api_key

response = requests.get(search_url)
response_json = response.json()
# pprint (response.json())

In [3]:
# # Store school id, name, regions in list

# school_ids_list = []
# schools_list = []
# regions_list = []


# for page in range (0,105):
#     search_url = f'{url}{search}&page={page}&api_key={api_key}'
#     response = requests.get(search_url)
#     response_json = response.json()
       
#     for num in range(0,20):
#         school_id = response_json['results'][num]['id']
#         school_ids_list.append(school_id)
#         school_name = response_json['results'][num]['school.name']
#         schools_list.append(school_name)  
#         region_id = response_json['results'][num]['school.region_id']
#         regions_list.append(region_id)

# # test length of list to ensure equality
# # print (len(school_ids_list))
# # print (len(schools_list))
# # print (len(regions_list))

# # set up school info in dataframe and export to CSV to save work and avoid API limit
# schoolinfo_df = pd.DataFrame({
#     "School ID": school_ids_list,
#     "School": schools_list,
#     "Region ID": regions_list
# })

# schoolinfo_df.to_csv("schoolinfo.csv", index=False, header=False)
# schoolinfo_df

In [4]:
# #store tuition information into lists
# school_ids_list = []
# tuition_in_state_list = []
# tuition_out_state_list = []


# for page in range (0,105):
#         search_url = f'{url}{search}&page={page}&api_key={api_key}'
#         response = requests.get(search_url)
#         response_json = response.json()
        
#         for num in range(0,20):
#             school_id = response_json['results'][num]['id']
#             school_ids_list.append(school_id)                
#             tuition_in = response_json['results'][num]['latest.cost.tuition.in_state']
#             tuition_in_state_list.append(tuition_in)  
#             tuition_out = response_json['results'][num]['latest.cost.tuition.out_of_state']
#             tuition_out_state_list.append(tuition_out)

# #convert tuition lists into DataFrame and export
# school_tuition_df = pd.DataFrame({
#     "School ID": school_ids_list,
#     "Tuition In of State": tuition_in_state_list,
#     "Tuition Out of State": tuition_out_state_list
# })
                
# school_tuition_df.to_csv("school_tuition.csv", index=False, header=False)
# school_tuition_df

In [5]:
# #read csv paths as pandas and merge school info and tuition dataframes on school id
# schoolcsvpath = os.path.join('schoolinfo.csv')
# tuitioncsvpath = os.path.join('school_tuition.csv')

# school_pd_df = pd.read_csv(schoolcsvpath, encoding="utf-8")
# tuition_pd_df = pd.read_csv(tuitioncsvpath, encoding="utf-8")

# school_tuition_merge = pd.merge(school_pd_df, tuition_pd_df, on='School Id', how="outer")

In [6]:
# #create lists for earnings, repayment rate

# school_ids_list = []
# list_earnings_10_yrs_after_entry = []
# list_earnings_6_yrs_after_entry = []


# for page in range (0,105):
#     search_url = f'{url}{search}&page={page}&api_key={api_key}'
#     response = requests.get(search_url)
#     response_json = response.json()
#     for num in range (0,20):
#             earnings_10yrs_after = response_json['results'][num]['latest.earnings.10_yrs_after_entry.median']
#             earnings_6yrs_after = response_json['results'][num]['latest.earnings.6_yrs_after_entry.median']
#             list_earnings_10_yrs_after_entry.append(earnings_10yrs_after)
#             list_earnings_6_yrs_after_entry.append(earnings_6yrs_after)

# # len(list_earnings_10_yrs_after_entry)
# # len(list_earnings_6_yrs_after_entry)

# list_3_year_repayment = []
# list_5_year_repayment = []
# list_7_year_repayment = []


# for page in range (0,105):
#     search_url = f'{url}{search}&page={page}&api_key={api_key}'
#     response = requests.get(search_url)
#     response_json = response.json()
#     for num in range (0,20):
#             school_id = response_json['results'][num]['id']
#             repay_3years = response_json['results'][num]['latest.repayment.3_yr_repayment.completers_rate']
#             repay_5years = response_json['results'][num]['latest.repayment.5_yr_repayment.completers_rate']
#             repay_7years = response_json['results'][num]['latest.repayment.7_yr_repayment.completers_rate']
#             school_ids_list.append(school_id)
#             list_3_year_repayment.append(repay_3years)
#             list_5_year_repayment.append(repay_5years)
#             list_7_year_repayment.append(repay_7years)

# #convert lists into dataframes and export
# earnings_repayment_df = pd.DataFrame({
#     "School Id": school_ids_list,
#     "Earnings 6 Years After Entry": list_earnings_6_yrs_after_entry,
#     "Earnings 10 years After Entry": list_earnings_10_yrs_after_entry,
#     "3 Year Repayment Percentage": list_3_year_repayment,
#     "5 Year Repayment Percentage": list_5_year_repayment,
#     "7 Year Repayment Percentage": list_7_year_repayment,
# })

In [7]:
# #convert repayment/earnings info to csv and merge repayment/earnings information with school_tuition dataframe 

# earnings_repayment_df.to_csv("earnings_repayment.csv", index=False, header=True)

# earningscsvpath = os.path.join('earnings_repayment.csv')
# earnings_pd_df = pd.read_csv(earningscsvpath, encoding="utf-8")


# cost_earnings_stat_merge = pd.merge(school_tuition_merge, earnings_pd_df, on='School Id', how="outer")
# cost_earnings_stat_merge.to_csv("cost_earnings_stat.csv", index=False, header=True)
# cost_earnings_stat_merge

In [8]:
region_stats = pd.read_csv('cost_earnings_stat.csv')
region_stats

,School Id,School Name,Region Id,Tuition In State,Tuition Out of State,Earnings 6 Years After Entry,Earnings 10 years After Entry,3 Year Repayment Percentage,5 Year Repayment Percentage,7 Year Repayment Percentage
0,445188,University of California-Merced,8,13262.0,39944.0,36900.0,NaN,0.781473,0.786070,NaN
1,446792,Sanford-Brown College-Las Vegas,8,NaN,NaN,23500.0,29300.0,0.347468,0.444317,0.516055
2,446808,Sanford-Brown College-Seattle,8,NaN,NaN,23500.0,29300.0,0.347468,0.444317,0.516055
3,446048,Ave Maria University,5,19128.0,19128.0,29800.0,32800.0,0.674847,0.771186,0.711111
4,446668,The Art Institute of Ohio-Cincinnati,3,NaN,NaN,27200.0,34100.0,0.503601,0.603623,0.698751
5,447458,SAE Expression College,8,23899.0,23899.0,32100.0,48400.0,0.569519,0.609312,0.691803
6,447272,Argosy University-Los Angeles,8,13152.0,13152.0,30300.0,41400.0,0.476571,0.639640,0.761628
7,117557,Lincoln University,8,10575.0,10575.0,NaN,NaN,NaN,NaN,NaN
8,210492,Bryn Athyn College of the New Church,2,19932.0,19932.0,NaN,NaN,NaN,NaN,NaN
9,441982,Franklin W Olin College of Engineering,1,49986.0,49986.0,NaN,NaN,NaN,NaN,NaN
10,456348,Argosy University-Phoenix Online Division,6,18244.0,18244.0,30300.0,41400.0,0.476571,0.639640,0.761628
11,459842,Herzing University-Kenosha,3,13390.0,13390.0,27900.0,37800.0,0.423355,0.529330,0.688633
12,468015,South University-The Art Institute of Fort Worth,6,NaN,NaN,26900.0,33400.0,0.457116,0.562656,0.571280
13,449038,Strayer University-Florida,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
14,450298,Strayer University-Delaware,2,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
15,453215,Strayer University-New Jersey,2,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
16,458885,Strayer University-Arkansas,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
17,458955,Strayer University-Mississippi,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982
18,460738,American Sentinel University,7,NaN,NaN,NaN,NaN,0.709677,NaN,NaN
19,461795,North American University,6,11900.0,11900.0,NaN,NaN,NaN,NaN,NaN
20,470092,The Art Institute of Wisconsin,3,NaN,NaN,25800.0,29400.0,0.304666,0.485496,0.571795
21,139287,Carver Bible College,5,10460.0,10460.0,NaN,NaN,NaN,NaN,NaN
22,475608,Criswell College,6,8950.0,8950.0,NaN,NaN,NaN,NaN,NaN
23,475732,Chamberlain University-Georgia,5,19230.0,19230.0,67100.0,58400.0,0.674411,0.731261,NaN
24,489788,Kaplan University-Milwaukee,3,14325.0,14325.0,NaN,NaN,NaN,NaN,NaN
25,484905,University of North Texas at Dallas,6,7848.0,20088.0,37600.0,45000.0,NaN,NaN,NaN
26,484622,University of Phoenix-Arkansas,5,NaN,NaN,28400.0,47100.0,0.425899,0.584762,0.687975
27,485078,Trine University-Arizona Regional Campus,6,10662.0,10662.0,37000.0,43300.0,0.736928,0.810690,0.785100
28,484668,University of Phoenix-Florida,5,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975
29,484695,University of Phoenix-Michigan,3,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975
...,...,...,...,...,...,...,...,...,...,...
2070,237057,Whitman College,8,47862.0,47862.0,34000.0,51300.0,0.947368,NaN,NaN
2071,239071,Maranatha Baptist University,3,14260.0,14260.0,29700.0,33000.0,0.896000,0.922652,NaN
2072,240444,University of Wisconsin-Madison,3,10488.0,32738.0,45000.0,56200.0,0.884680,0.909311,0.934189
2073,240107,Viterbo University,3,26150.0,26150.0,38100.0,43200.0,0.783307,0.857461,0.890526
2074,239017,Lawrence University,3,44844.0,44844.0,29400.0,44100.0,0.817073,0.868243,0.910506
2075,240277,University of Wisconsin-Green Bay,3,7878.0,15451.0,34800.0,40800.0,0.779497,0.858095,0.909091
2076,240374,University of Wisconsin-Parkside,3,7367.0,15356.0,30000.0,39900.0,0.690066,0.765337,0.847550
2077,240417,University of Wisconsin-Stout,3,9395.0,17141.0,39200.0,45100.0,0.856311,0.914819,0.928941
2078,241951,Escuela de Artes Plasticas y Diseno de Puerto ...,9,3462.0,5622.0,9200.0,16000.0,NaN,NaN,NaN
2079,241331,Carlos Albizu University-San Juan,9,7221.0,7221.0,26700.0,30200.0,0.513636,0.594378,0.550000
2080,245777,Bais Medrash Elyon,2,8600.0,8600.0,NaN,NaN,NaN,NaN,NaN
2081,245847,Antioch University-Santa Barbara,8,NaN,NaN,33500.0,38200.0,0.595745,0.666667,0.707143
2082,260901,Kaplan University-Davenport Campus,4,14325.0,14325.0,24600.0,33900.0,0.376907,0.497563,0.578652
2083,363907,Caribbean University-Ponce,9,5182.0,5182.0,15900.0,18700.0,0.355742,0.393939,0.436893
2084,363934,University of Advancing Technology,6,21064.0,21064.0,33700.0,46400.0,0.760331,0.791209,0.850000
2085,366711,California State University-San Marcos,8,7383.0,18543.0,37800.0,47300.0,0.748884,0.675532,0.774436
2086,367884,Hodges University,5,13700.0,13700.0,27700.0,37100.0,0.470679,0.501080,0.563043
2087,367194,McNally Smith College of Music,4,27940.0,27940.0,24600.0,33500.0,0.676301,0.757576,0.775510
2088,405997,University of Phoenix-New Mexico,6,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975
2089,416801,The University of Texas MD Anderson Cancer Center,6,NaN,NaN,64300.0,86400.0,NaN,0.815385,NaN
2090,212054,Drexel University,2,51030.0,51030.0,53400.0,68800.0,0.882275,0.910415,0.931228
2091,213011,Immaculata University,2,35210.0,35210.0,46100.0,50600.0,0.736842,0.796703,0.777778
2092,212577,Franklin and Marshall College,2,52290.0,52290.0,46000.0,58900.0,0.927007,0.920981,0.952542
2093,212601,Gannon University,2,30042.0,30042.0,38400.0,48100.0,0.812081,0.858934,0.893186
2094,213507,Lebanon Valley College,2,40550.0,40550.0,40100.0,45800.0,0.901434,0.951076,0.947368
2095,214731,Pennsylvania State University-Penn State Brand...,2,14134.0,21568.0,40100.0,50100.0,0.813242,0.882725,0.903883
2096,213987,Mercyhurst University,2,34580.0,34580.0,32800.0,40300.0,0.768879,0.863171,0.861613
2097,215114,Cairn University-Langhorne,2,25246.0,25246.0,28000.0,34800.0,0.804954,0.824451,0.865546
2098,214041,Millersville University of Pennsylvania,2,11494.0,20854.0,34400.0,43500.0,0.830858,0.887035,0.914194
2099,216597,Villanova University,2,49280.0,49280.0,62600.0,77900.0,0.940041,0.949495,0.963762

In [9]:
rs_dropna = region_stats.dropna()
rs_dropreset = rs_dropna.reset_index()

In [10]:
grouped_region_stats = rs_dropreset.groupby(['Region Id']).mean()
region_mean = grouped_region_stats.drop(columns=["index", "School Id"])
region_mean

,Tuition In State,Tuition Out of State,Earnings 6 Years After Entry,Earnings 10 years After Entry,3 Year Repayment Percentage,5 Year Repayment Percentage,7 Year Repayment Percentage
Region Id,,,,,,,
1,29112.816667,32776.183333,39475.000000,49554.166667,0.790872,0.839508,0.867417
2,26001.058608,29223.135531,37945.054945,48754.945055,0.739615,0.793213,0.828465
3,23448.936441,26742.444915,35246.186441,43145.338983,0.716357,0.779455,0.818114
4,20803.045161,23060.251613,35602.580645,42301.935484,0.761357,0.818104,0.844360
5,18366.325000,22730.782500,31787.000000,39603.750000,0.621347,0.691474,0.735573
6,16773.288889,21270.088889,34261.481481,41785.185185,0.644242,0.719577,0.762020
7,13179.042553,20291.914894,33821.276596,42572.340426,0.692003,0.764552,0.815170
8,23430.098684,28459.407895,36998.026316,47139.473684,0.698145,0.766504,0.814428
9,5910.650000,6726.500000,17500.000000,21735.000000,0.508256,0.548189,0.555709

In [11]:
#list containing 'bins' for tuition
quartile_bins = []

#bin_names are given after tuition is binned i.e (1) tuition is $3503 therefore we label as "least_expensive"
#the bin_names are up for change
bins = [0,10000,18000,32000,100000]
bin_names = ["<10,000","10,000 - 18,000","18,000 - 32,000", "> 32,000"]

#list reference for obtaining min, median, and max tution
tuition_list = rs_dropreset['Tuition In State']

#obtain 25th percentile, then append to list
twentyfive_Percentile = tuition_list.quantile(0.25)
quartile_bins.append(twentyfive_Percentile)

#obtain 50th percentile, then append to list
fifty_Percentile = tuition_list.quantile(0.50)
quartile_bins.append(fifty_Percentile)

#obtain 75th percentile, then append to list
seventyFive_Percentile = tuition_list.quantile(0.75)
quartile_bins.append(seventyFive_Percentile)

#obtain 99th percentile, then append to list
ninetyNine_Percentile = tuition_list.quantile(1)
quartile_bins.append(ninetyNine_Percentile)

#print bins list
quartile_bins

[9776.5, 17682.0, 31567.5, 55056.0]

In [29]:
rs_dropreset["Tuition Cost Tier"] = pd.cut(rs_dropreset["Tuition In State"], bins, labels=bin_names)

cost = rs_dropreset['Tuition In State']
earnings6 = rs_dropreset['Earnings 6 Years After Entry']
earnings10 = rs_dropreset['Earnings 10 years After Entry']

rs_dropreset['Earnings/Cost Ratio'] = earnings6/cost
rs_dropreset['Earnings Growth Y6 - Y10'] = earnings10/earnings6
rs_dropreset['Weighted Earnings Growth to Relative Tuition'] = rs_dropreset['Earnings/Cost Ratio'] * rs_dropreset['Earnings Growth Y6 - Y10']
rs_dropreset['Count'] = rs_droprese
rs_dropreset

,index,School Id,School Name,Region Id,Tuition In State,Tuition Out of State,Earnings 6 Years After Entry,Earnings 10 years After Entry,3 Year Repayment Percentage,5 Year Repayment Percentage,7 Year Repayment Percentage,Tuition Cost Tier,Earnings/Cost Ratio,Earnings Growth Y6 - Y10,Weighted Earnings Growth to Relative Tuition,Count
0,3,446048,Ave Maria University,5,19128.0,19128.0,29800.0,32800.0,0.674847,0.771186,0.711111,"18,000 - 32,000",1.557926,1.100671,1.714764,1.0
1,5,447458,SAE Expression College,8,23899.0,23899.0,32100.0,48400.0,0.569519,0.609312,0.691803,"18,000 - 32,000",1.343152,1.507788,2.025189,1.0
2,6,447272,Argosy University-Los Angeles,8,13152.0,13152.0,30300.0,41400.0,0.476571,0.639640,0.761628,"10,000 - 18,000",2.303832,1.366337,3.147810,1.0
3,10,456348,Argosy University-Phoenix Online Division,6,18244.0,18244.0,30300.0,41400.0,0.476571,0.639640,0.761628,"18,000 - 32,000",1.660820,1.366337,2.269239,1.0
4,11,459842,Herzing University-Kenosha,3,13390.0,13390.0,27900.0,37800.0,0.423355,0.529330,0.688633,"10,000 - 18,000",2.083645,1.354839,2.823002,1.0
5,13,449038,Strayer University-Florida,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982,"10,000 - 18,000",2.551060,1.386707,3.537572,1.0
6,14,450298,Strayer University-Delaware,2,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982,"10,000 - 18,000",2.551060,1.386707,3.537572,1.0
7,15,453215,Strayer University-New Jersey,2,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982,"10,000 - 18,000",2.551060,1.386707,3.537572,1.0
8,16,458885,Strayer University-Arkansas,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982,"10,000 - 18,000",2.551060,1.386707,3.537572,1.0
9,17,458955,Strayer University-Mississippi,5,12975.0,12975.0,33100.0,45900.0,0.409350,0.529604,0.600982,"10,000 - 18,000",2.551060,1.386707,3.537572,1.0
10,27,485078,Trine University-Arizona Regional Campus,6,10662.0,10662.0,37000.0,43300.0,0.736928,0.810690,0.785100,"10,000 - 18,000",3.470268,1.170270,4.061152,1.0
11,28,484668,University of Phoenix-Florida,5,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975,"<10,000",2.886179,1.658451,4.786585,1.0
12,29,484695,University of Phoenix-Michigan,3,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975,"<10,000",2.886179,1.658451,4.786585,1.0
13,31,485272,West Coast University-Miami,5,20350.0,20350.0,74600.0,54900.0,0.805513,0.828067,0.793249,"18,000 - 32,000",3.665848,0.735925,2.697789,1.0
14,32,484765,University of Phoenix-Virginia,5,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975,"<10,000",2.886179,1.658451,4.786585,1.0
15,45,482538,DeVry University-Missouri,4,19948.0,19948.0,32600.0,44100.0,0.559711,0.692382,0.701613,"18,000 - 32,000",1.634249,1.352761,2.210748,1.0
16,46,482565,DeVry University-North Carolina,5,19948.0,19948.0,32600.0,44100.0,0.559711,0.692382,0.701613,"18,000 - 32,000",1.634249,1.352761,2.210748,1.0
17,47,482608,DeVry University-Pennsylvania,2,19948.0,19948.0,32600.0,44100.0,0.559711,0.692382,0.701613,"18,000 - 32,000",1.634249,1.352761,2.210748,1.0
18,49,482635,DeVry University-Texas,6,19948.0,19948.0,32600.0,44100.0,0.559711,0.692382,0.701613,"18,000 - 32,000",1.634249,1.352761,2.210748,1.0
19,51,482422,DeVry University-Arizona,6,19948.0,19948.0,32600.0,44100.0,0.559711,0.692382,0.701613,"18,000 - 32,000",1.634249,1.352761,2.210748,1.0
20,52,482158,Middle Georgia State University,5,3890.0,10919.0,26300.0,31500.0,0.587156,0.706161,0.765101,"<10,000",6.760925,1.197719,8.097686,1.0
21,54,482468,DeVry University-Georgia,5,19948.0,19948.0,32600.0,44100.0,0.559711,0.692382,0.701613,"18,000 - 32,000",1.634249,1.352761,2.210748,1.0
22,56,458982,The Art Institute of San Antonio,6,17664.0,17664.0,27300.0,34100.0,0.576958,0.716396,0.694444,"10,000 - 18,000",1.545516,1.249084,1.930480,1.0
23,57,459268,South University-Virginia Beach,5,17330.0,17330.0,26900.0,33400.0,0.457116,0.562656,0.571280,"10,000 - 18,000",1.552222,1.241636,1.927294,1.0
24,59,480082,South University-Cleveland,3,17330.0,17330.0,26900.0,33400.0,0.457116,0.562656,0.571280,"10,000 - 18,000",1.552222,1.241636,1.927294,1.0
25,61,480198,Warner Pacific College Adult Degree Program,8,8280.0,8280.0,37900.0,41000.0,0.595785,0.674221,0.807487,"<10,000",4.577295,1.081794,4.951691,1.0
26,68,450085,The Art Institute of Charleston,5,17592.0,17592.0,23700.0,30900.0,0.451006,0.544903,0.638354,"10,000 - 18,000",1.347203,1.303797,1.756480,1.0
27,69,449898,South University-Tampa,5,17330.0,17330.0,26900.0,33400.0,0.457116,0.562656,0.571280,"10,000 - 18,000",1.552222,1.241636,1.927294,1.0
28,70,450535,Argosy University-Nashville,5,13152.0,13152.0,30300.0,41400.0,0.476571,0.639640,0.761628,"10,000 - 18,000",2.303832,1.366337,3.147810,1.0
29,76,442222,Argosy University-Dallas,6,13152.0,13152.0,30300.0,41400.0,0.476571,0.639640,0.761628,"10,000 - 18,000",2.303832,1.366337,3.147810,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508,2063,228981,Texas Lutheran University,6,28910.0,28910.0,36300.0,45600.0,0.800623,0.801917,0.861210,"18,000 - 32,000",1.255621,1.256198,1.577309,1.0
1509,2064,229814,West Texas A & M University,6,7699.0,8945.0,35200.0,42700.0,0.710912,0.794661,0.818182,"<10,000",4.572022,1.213068,5.546175,1.0
1510,2065,233374,University of Richmond,5,49420.0,49420.0,46900.0,64500.0,0.814264,0.828096,0.882243,"> 32,000",0.949008,1.375267,1.305140,1.0
1511,2067,234827,Central Washington University,8,7719.0,21522.0,36900.0,46500.0,0.637755,0.724138,0.801546,"<10,000",4.780412,1.260163,6.024096,1.0
1512,2068,237181,Bethany College,5,27696.0,27696.0,29200.0,40400.0,0.758621,0.851485,0.905213,"18,000 - 32,000",1.054304,1.383562,1.458694,1.0
1513,2069,237011,Western Washington University,8,7903.0,21847.0,35400.0,45800.0,0.767486,0.809912,0.880682,"<10,000",4.479312,1.293785,5.795268,1.0
1514,2072,240444,University of Wisconsin-Madison,3,10488.0,32738.0,45000.0,56200.0,0.884680,0.909311,0.934189,"10,000 - 18,000",4.290618,1.248889,5.358505,1.0
1515,2073,240107,Viterbo University,3,26150.0,26150.0,38100.0,43200.0,0.783307,0.857461,0.890526,"18,000 - 32,000",1.456979,1.133858,1.652008,1.0
1516,2074,239017,Lawrence University,3,44844.0,44844.0,29400.0,44100.0,0.817073,0.868243,0.910506,"> 32,000",0.655606,1.500000,0.983409,1.0
1517,2075,240277,University of Wisconsin-Green Bay,3,7878.0,15451.0,34800.0,40800.0,0.779497,0.858095,0.909091,"<10,000",4.417365,1.172414,5.178979,1.0
1518,2076,240374,University of Wisconsin-Parkside,3,7367.0,15356.0,30000.0,39900.0,0.690066,0.765337,0.847550,"<10,000",4.072214,1.330000,5.416045,1.0
1519,2077,240417,University of Wisconsin-Stout,3,9395.0,17141.0,39200.0,45100.0,0.856311,0.914819,0.928941,"<10,000",4.172432,1.150510,4.800426,1.0
1520,2079,241331,Carlos Albizu University-San Juan,9,7221.0,7221.0,26700.0,30200.0,0.513636,0.594378,0.550000,"<10,000",3.697549,1.131086,4.182246,1.0
1521,2082,260901,Kaplan University-Davenport Campus,4,14325.0,14325.0,24600.0,33900.0,0.376907,0.497563,0.578652,"10,000 - 18,000",1.717277,1.378049,2.366492,1.0
1522,2083,363907,Caribbean University-Ponce,9,5182.0,5182.0,15900.0,18700.0,0.355742,0.393939,0.436893,"<10,000",3.068313,1.176101,3.608645,1.0
1523,2084,363934,University of Advancing Technology,6,21064.0,21064.0,33700.0,46400.0,0.760331,0.791209,0.850000,"18,000 - 32,000",1.599886,1.376855,2.202810,1.0
1524,2085,366711,California State University-San Marcos,8,7383.0,18543.0,37800.0,47300.0,0.748884,0.675532,0.774436,"<10,000",5.119870,1.251323,6.406610,1.0
1525,2086,367884,Hodges University,5,13700.0,13700.0,27700.0,37100.0,0.470679,0.501080,0.563043,"10,000 - 18,000",2.021898,1.339350,2.708029,1.0
1526,2087,367194,McNally Smith College of Music,4,27940.0,27940.0,24600.0,33500.0,0.676301,0.757576,0.775510,"18,000 - 32,000",0.880458,1.361789,1.198998,1.0
1527,2088,405997,University of Phoenix-New Mexico,6,9840.0,9840.0,28400.0,47100.0,0.425899,0.584762,0.687975,"<10,000",2.886179,1.658451,4.786585,1.0
1528,2090,212054,Drexel University,2,51030.0,51030.0,53400.0,68800.0,0.882275,0.910415,0.931228,"> 32,000",1.046443,1.288390,1.348227,1.0
1529,2091,213011,Immaculata University,2,35210.0,35210.0,46100.0,50600.0,0.736842,0.796703,0.777778,"> 32,000",1.309287,1.097614,1.437092,1.0
1530,2092,212577,Franklin and Marshall College,2,52290.0,52290.0,46000.0,58900.0,0.927007,0.920981,0.952542,"> 32,000",0.879709,1.280435,1.126410,1.0
1531,2093,212601,Gannon University,2,30042.0,30042.0,38400.0,48100.0,0.812081,0.858934,0.893186,"18,000 - 32,000",1.278211,1.252604,1.601092,1.0
1532,2094,213507,Lebanon Valley College,2,40550.0,40550.0,40100.0,45800.0,0.901434,0.951076,0.947368,"> 32,000",0.988903,1.142145,1.129470,1.0
1533,2095,214731,Pennsylvania State University-Penn State Brand...,2,14134.0,21568.0,40100.0,50100.0,0.813242,0.882725,0.903883,"10,000 - 18,000",2.837130,1.249377,3.544644,1.0
1534,2096,213987,Mercyhurst University,2,34580.0,34580.0,32800.0,40300.0,0.768879,0.863171,0.861613,"> 32,000",0.948525,1.228659,1.165414,1.0
1535,2097,215114,Cairn University-Langhorne,2,25246.0,25246.0,28000.0,34800.0,0.804954,0.824451,0.865546,"18,000 - 32,000",1.109087,1.242857,1.378436,1.0
1536,2098,214041,Millersville University of Pennsylvania,2,11494.0,20854.0,34400.0,43500.0,0.830858,0.887035,0.914194,"10,000 - 18,000",2.992866,1.264535,3.784583,1.0
1537,2099,216597,Villanova University,2,49280.0,49280.0,62600.0,77900.0,0.940041,0.949495,0.963762,"> 32,000",1.270292,1.244409,1.580763,1.0

In [23]:
# tiercount = []
# count_tiers = rs_dropreset.groupby(['Tuition Cost Tier','Region Id']).count()

# tiercount.append(count_tiers['index'])

[Tuition Cost Tier  Region Id
 <10,000            1             16.0
                    2             48.0
                    3             38.0
                    4             46.0
                    5            122.0
                    6             52.0
                    7             26.0
                    8             42.0
                    9             20.0
 10,000 - 18,000    1             28.0
                    2             64.0
                    3             59.0
                    4             25.0
                    5            114.0
                    6             36.0
                    7             13.0
                    8             28.0
                    9              NaN
 18,000 - 32,000    1             14.0
                    2             55.0
                    3             83.0
                    4             57.0
                    5            111.0
                    6             34.0
                    7              5.0
                    8             31.0
                    9              NaN
 > 32,000           1             62.0
                    2            106.0
                    3             56.0
                    4             27.0
                    5             53.0
                    6             13.0
                    7              3.0
                    8             51.0
                    9              NaN
 Name: index, dtype: float64]

In [30]:
grouped_tiers = rs_dropreset.groupby(['Tuition Cost Tier', 'Region Id']).mean()
grouped_tiers.drop(columns=["index", "School Id"])

                             Tuition In State  Tuition Out of State  \
Tuition Cost Tier Region Id
<10,000           1               8534.625000          15745.187500
                  2               8105.104167          16759.270833
                  3               8020.473684          16908.736842
                  4               7553.173913          14233.239130
                  5               7439.155738          17695.754098
                  6               7494.365385          15907.307692
                  7               7243.269231          17825.307692
                  8               7489.642857          18309.285714
                  9               5910.650000           6726.500000
10,000 - 18,000   1              13139.178571          24719.000000
                  2              13523.640625          20603.125000
                  3              12862.135593          20311.525424
                  4              13472.760000          14950.920000
                  5              13964.394737          18117.359649
                  6              13586.444444          18297.416667
                  7              14233.307692          18785.000000
                  8              13366.821429          24439.321429
                  9                       NaN                   NaN
18,000 - 32,000   1              29751.428571          29751.428571
                  2              26058.290909          26260.836364
                  3              26999.084337          26999.084337
                  4              26349.877193          26448.649123
                  5              25150.513514          25340.063063
                  6              25117.558824          25117.558824
                  7              26807.800000          26807.800000
                  8              24149.354839          24149.354839
                  9                       NaN                   NaN
> 32,000          1              41493.016129          41493.016129
                  2              41608.726415          41608.726415
                  3              39810.375000          39810.375000
                  4              38454.222222          38454.222222
                  5              38779.339623          38779.339623
                  6              40890.615385          40890.615385
                  7              37339.333333          37339.333333
                  8              41645.274510          41645.274510
                  9                       NaN                   NaN

                             Earnings 6 Years After Entry  \
Tuition Cost Tier Region Id
<10,000           1                          32825.000000
                  2                          33866.666667
                  3                          32726.315789
                  4                          34710.869565
                  5                          30765.573770
                  6                          33534.615385
                  7                          33511.538462
                  8                          35028.571429
                  9                          17500.000000
10,000 - 18,000   1                          35732.142857
                  2                          36503.125000
                  3                          34898.305085
                  4                          34948.000000
                  5                          30325.438596
                  6                          31633.333333
                  7                          32015.384615
                  8                          36050.000000
                  9                                   NaN
18,000 - 32,000   1                          36535.714286
                  2                          34592.727273
                  3                          34704.819277
                  4                          34656.140351
                  5                          32026.126126
                  6                          35291.176471
                  7                          36200.000000
                  8                          32690.322581
                  9                                   NaN
> 32,000          1                          43545.161290
                  2                          42401.886792
                  3                          38125.000000
                  4                          39725.925926
                  5                          36781.132075
                  6                          41753.846154
                  7                          40366.666667
                  8                          41758.823529
                  9                                   NaN

                             Earnings 10 years After Entry  \
Tuition Cost Tier Region Id
<10,000           1                           38993.750000
                  2                           45241.666667
                  3                           40376.315789
                  4                           41071.739130
                  5                           38277.049180
                  6                           40576.923077
                  7                           42576.923077
                  8                           45992.857143
                  9                           21735.000000
10,000 - 18,000   1                           44189.285714
                  2                           47060.937500
                  3                           42520.338983
                  4                           41980.000000
                  5                           38077.192982
                  6                           39297.222222
                  7                           40669.230769
                  8                           47446.428571
                  9                                    NaN
18,000 - 32,000   1                           46264.285714
                  2                           43312.727273
                  3                           41261.445783
                  4                           40224.561404
                  5                           39310.810811
                  6                           42458.823529
                  7                           42600.000000
                  8                           41177.419355
                  9                                    NaN
> 32,000          1                           55445.161290
                  2                           54192.452830
                  3                           48475.000000
                  4                           49081.481481
                  5                           46554.716981
                  6                           51746.153846
                  7                           50733.333333
                  8                           51539.215686
                  9                                    NaN

                             3 Year Repayment Percentage  \
Tuition Cost Tier Region Id
<10,000           1                             0.731816
                  2                             0.660085
                  3                             0.694645
                  4                             0.771156
                  5                             0.600710
                  6                             0.639678
                  7                             0.735141
                  8                             0.685648
                  9                             0.508256
10,000 - 18,000   1                             0.755185
                  2                             0.705521
                  3                             0.635076
                  4                             0.674033
                  5                             0.547922
                  6                             0.556133
                  7                             0.550166
                  8                             0.640657
                  9                                  NaN
18,000 - 32,000   1                             0.735100
                  2                             0.700396
                  3                             0.712165
                  4                             0.752038
                  5                             0.648091
                  6                             0.670289
                  7                             0.743312
                  8                             0.627174
                  9                                  NaN
> 32,000          1                             0.834823
                  2                             0.816564
                  3                             0.822938
                  4                             0.845193
                  5                             0.770771
                  6                             0.838370
                  7                             0.847246
                  8                             0.783136
                  9                                  NaN

                             5 Year Repayment Percentage  \
Tuition Cost Tier Region Id
<10,000           1                             0.791321
                  2                             0.720289
                  3                             0.755383
                  4                             0.819839
                  5                             0.667743
                  6                             0.706938
                  7                             0.798982
                  8                             0.740798
                  9                             0.548189
10,000 - 18,000   1                             0.815540
                  2                             0.769476
                  3                             0.702559
                  4                             0.743488
                  5                             0.622984
                  6                             0.661535
                  7                             0.647806
                  8                             0.723926
                  9                                  NaN
18,000 - 32,000   1                             0.793115
                  2                             0.761644
                  3                             0.784399
                  4                             0.814890
                  5                             0.724109
                  6                             0.741225
                  7                             0.806136
                  8                             0.729625
                  9                                  NaN
> 32,000          1                             0.873244
                  2                             0.856946
                  3                             0.869478
                  4                             0.891025
                  5                             0.825067
                  6                             0.874247
                  7                             0.902755
                  8                             0.833467
                  9                                  NaN

                             7 Year Repayment Percentage  Earnings/Cost Ratio  \
Tuition Cost Tier Region Id
<10,000           1                             0.830198             3.862688
                  2                             0.769936             4.258523
                  3                             0.813082             4.191018
                  4                             0.847357             4.657471
                  5                             0.716157             4.327715
                  6                             0.758860             4.568691
                  7                             0.842394             4.898212
                  8                             0.798015             4.782746
                  9                             0.555709             2.989722
10,000 - 18,000   1                             0.847956             2.781800
                  2                             0.812841             2.745892
                  3                             0.765199             2.801861
                  4                             0.790864             2.644485
                  5                             0.673879             2.279258
                  6                             0.698640             2.467262
                  7                             0.735904             2.317939
                  8                             0.801736             2.793293
                  9                                  NaN                  NaN
18,000 - 32,000   1                             0.816086             1.223612
                  2                             0.788155             1.353579
                  3                             0.806445             1.299050
                  4                             0.829728             1.327239
                  5                             0.761097             1.300261
                  6                             0.783931             1.423337
                  7                             0.816144             1.424680
                  8                             0.774170             1.385602
                  9                                  NaN                  NaN
> 32,000          1                             0.897402             1.056003
                  2                             0.885318             1.025487
                  3                             0.894572             0.966790
                  4                             0.919677             1.041940
                  5                             0.859509             0.948893
                  6                             0.892865             1.035979
                  7                             0.921081             1.098367
                  8                             0.859383             1.022503
                  9                                  NaN                  NaN

                             Earnings Growth Y6 - Y10  \
Tuition Cost Tier Region Id
<10,000           1                          1.192467
                  2                          1.343387
                  3                          1.238098
                  4                          1.183886
                  5                          1.246185
                  6                          1.221220
                  7                          1.274619
                  8                          1.326643
                  9                          1.242913
10,000 - 18,000   1                          1.238157
                  2                          1.295442
                  3                          1.225023
                  4                          1.215615
                  5                          1.262298
                  6                          1.245250
                  7                          1.277791
                  8                          1.326725
                  9                               NaN
18,000 - 32,000   1                          1.247828
                  2                          1.257890
                  3                          1.193525
                  4                          1.164944
                  5                          1.238474
                  6                          1.223368
                  7                          1.229812
                  8                          1.266546
                  9                               NaN
> 32,000          1                          1.274550
                  2                          1.284868
                  3                          1.280422
                  4                          1.237323
                  5                          1.271634
                  6                          1.254805
                  7                          1.255781
                  8                          1.268930
                  9                               NaN

                             Weighted Earnings Growth to Relative Tuition  \
Tuition Cost Tier Region Id
<10,000           1                                              4.559541
                  2                                              5.667389
                  3                                              5.157801
                  4                                              5.501636
                  5                                              5.363733
                  6                                              5.486766
                  7                                              6.198609
                  8                                              6.272570
                  9                                              3.707898
10,000 - 18,000   1                                              3.451805
                  2                                              3.545460
                  3                                              3.412805
                  4                                              3.175949
                  5                                              2.857253
                  6                                              3.054128
                  7                                              2.955766
                  8                                              3.680426
                  9                                                   NaN
18,000 - 32,000   1                                              1.546930
                  2                                              1.700044
                  3                                              1.545056
                  4                                              1.543058
                  5                                              1.592850
                  6                                              1.719904
                  7                                              1.679873
                  8                                              1.754964
                  9                                                   NaN
> 32,000          1                                              1.335397
                  2                                              1.308642
                  3                                              1.225418
                  4                                              1.282597
                  5                                              1.199874
                  6                                              1.288418
                  7                                              1.378935
                  8                                              1.246376
                  9                                                   NaN

                             Count
Tuition Cost Tier Region Id
<10,000           1            1.0
                  2            1.0
                  3            1.0
                  4            1.0
                  5            1.0
                  6            1.0
                  7            1.0
                  8            1.0
                  9            1.0
10,000 - 18,000   1            1.0
                  2            1.0
                  3            1.0
                  4            1.0
                  5            1.0
                  6            1.0
                  7            1.0
                  8            1.0
                  9            NaN
18,000 - 32,000   1            1.0
                  2            1.0
                  3            1.0
                  4            1.0
                  5            1.0
                  6            1.0
                  7            1.0
                  8            1.0
                  9            NaN
> 32,000          1            1.0